@import 'https://use.fontawesome.com/releases/v5.8.1/css/all.css';
@import url("https://fonts.googleapis.com/css?family=Sofia");
@import url("https://fonts.googleapis.com/css?family=Teko");
@import url("https://fonts.googleapis.com/css?family=Alegreya");

#main{
    background-color: #f7f5f0;
    border-radius: 10px;
    padding:5px;
    margin-top: 50px;
    margin-left: 500px;
    width: 700px;  
}

.rating{
    font-family: 'Teko', cursive;
    text-align: center;
    font-weight: 100;  
    font-size: 17px; 
}

.content{
    font-family: 'Sofia', cursive;
    text-align: center;
    font-weight: 100; 
    font-size: 17px;

}

#user{
    color:darkolivegreen; 
    font-family: 'Alegreya', cursive;
    padding: 5px;
}