<!-- <div class="mainBtn">
        <div class="panel-body">
            <div class="media">
                 <div class="media-left media-top">
                  <img src="{{prodcut.image}}" class="media-object" style="width:60px">
                </div> -->
                <!-- <div class="media-body"> -->
                  <!-- <h4 class="media-heading">{{comment.name}}</h4> -->
                  <!-- <p>{{comment.content}}</p>
                  <h1>{{comment.rating}}</h1> -->
                  <!-- <h1>{{comment.created_by}}</h1>  -->
                  <!-- TODO: above line is not working -->
                <!-- </div>
              </div>
        </div>
</div> --> 


<!-- Media middle -->
<div class="media" id="main">
    <div class="media-left media-middle">
      <img src="https://www.w3schools.com/w3images/avatar2.png" class="media-object" style="width:60px">
    </div>
    <div class="media-body">
      <h4 class="media-heading" id="user">{{comment.name}}</h4>
      <p class="content">{{comment.content}}</p>
      <p class="rating">I give {{comment.rating}} points out of 10</p>
    </div>
  </div>
  