  <ng-container *ngIf="!logged">
        <div>
            <!-- Example row of columns -->
            <div class>
              <div *ngFor="let p of products">
                <app-product [product] = "p"></app-product>
              </div>
            </div>
            <hr>
          </div> <!-- /container -->
        
    </ng-container>

  <ng-container *ngIf="logged">
      <div>
          <!-- Example row of columns -->
          <div class>
            <div *ngFor="let p of products">
              <app-product [product] = "p"></app-product>
            </div>
          </div>
          <hr>
        </div> <!-- /container -->
      
  </ng-container>