<div class="mainBtn">
    <button type="button" class="btn" id="singleBtn" (click) = "showCommentsOfProduct(product)" routerLink="comments">
        <div class="panel-body">
            <div class="media">
                <div class="media-left media-top">
                  <img src="{{product.image}}" class="media-object" style="width:60px">
                </div>
                <div class="media-body">
                  <h4 class="media-heading">{{product.name}}</h4>
                  <p>{{product.description}}</p>
                </div>
              </div>
        </div>
    </button>
</div>